<div class="grid-100 row controls">
  <div class="grid-30">
    <!-- Populate the list with the categories from the database.
      Call getRecipesByCategory when user selects a category to filter on. -->
    <select ng-model="vm.category" ng-options="category.name for category in vm.categories track by category.name"  ng-change="vm.getRecipesByCategory()" ng-init="category='All Categories'">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <!-- TODO Add a directive to this button in order to handle 
        when the user clicks to add a new recipe. -->
      <button ng-click="vm.addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- Displays when there are no recipes to display. -->
<div class="grid-100 row" ng-hide="vm.recipes.length > 0">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<!-- Repeats for each recipe to display. Also, add a directive to this div element 
  so that it only displays when there are recipes to display. -->
<div class="grid-100 row addHover" ng-repeat="recipe in vm.recipes" ng-hide="vm.recipes.length < 1" >
  <!-- Route the user to the Recipe Detail screen when they click on a row. -->
  <a href="#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>
        <!-- Binding expressions to show recipe information. -->
          <strong>{{ recipe.name }}</strong><br/>
          {{ recipe.description }}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <!-- Route user to recipe-detail.html when user clicks on edit -->
          <a href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <!-- Route user so that a recipe can be deleted -->
          <a href="" ng-click="vm.deleteRecipe(recipe, $index)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
